.products__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 1rem;

}
.products__list.products__list--error {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 27.5rem;
}
.product-searchError__figure {
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-searchError__message {
    font-size: 24px;
    font-weight: 800;
    text-align: center;
    color: var(--color-Primary);
}
.products__item {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    padding: 16px;
    border-radius: .5rem;
    justify-content: space-between;
    min-width: 7.875rem;
    min-height: 18.75rem;
}
.product-skeleton{
    min-width: 7.9375rem;
    min-height: 17rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    background-color: #eae7eb;
    background: linear-gradient(
        90deg,
        rgba(241, 241, 241, 1) 19%,
        rgba(250, 250, 250, 1) 47%,
        rgba(241, 241, 241, 1) 76% 
      );
	background-size: 300%;
	background-position: 100% 0%;
	animation: shimmer 2s infinite;
    border-radius: .5rem;
}
.products__image {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 7.5rem;
}
.products__description {
    display: flex;
    gap: .25rem;
    flex-direction: column;
}
.products__image img{
    max-height: 7.5rem;
    max-width: 100%;
}
.products__title{
    color: var(--color-High-Emphasis);
    font-weight: 600;
    cursor: pointer;
}
.products__description{
    color: var(--color-Low-Emphasis);
    font-weight: 500;
}
.products__price{
    color: var(--color-High-Emphasis);
    font-weight: 600;
    font-size: clamp(0.875rem, 0.786rem + 0.238vw, 1rem);
}

.products__add-to-cart {
    border: solid .125rem var(--color-Primary);
    border-radius: .5rem;
    padding: .5rem;
    font-size: .875rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    gap: .25rem;
}
.products_iconCart{
    fill:var(--color-Bright);
    width: 1.5rem;
    height: 1.5rem;
}
.products__add-to-cart:hover {
    background: var(--color-Primary);
    color: var(--color-Bright);
    transition: fill 0.3s ease;
    & p{
        color: var(--color-Bright);
    }
    & .products__cart img{
        filter: drop-shadow(2px 2px 0.5px rgba(255, 255, 255, 1));
    }
}
.products__add-to-cart p{
    color: var(--color-Primary);
    font-weight: 600;
}
.products__list--error{
    display: flex;
    align-items: center;
    justify-content: center;
}