.main__home {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.25rem 1.25rem 2.25rem 1.25rem;
    min-height: 650px;
}
@media (width >=768px) {

    .products__list {
        grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    }
    .products__image img {
        max-height: 14.5rem;
    }
    .products__list.products__list--error {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .products__list {
        min-height: min-content;
    }

    .product-searchError {
        display: flex;
        max-width: 28.75rem;
        align-items: center;
    }
    .control-skeleton{
        height: 1.75rem;
        width: 20%;
    }

    main {
        gap: 2rem;
        padding: 2.25rem 2.25rem 3.25rem 2.25rem;
    }

}