.form-logo--forgotPassword{
    height: 40px;
}
.form-section--forgotPassword{
    padding: 0px 24px 24px 24px;
    gap: 1rem;
}
.form__forgotPassword--popover {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8%;
}
.form__forgotPassword--popover p{
    max-width: 60%;
    text-align: center;
    color: var(--color-Primary);
    font-weight: 900;
    font-size: 14px;
}
.form__forgotPassword--title{
    color: var(--color-Primary);
    font-weight: 600;
}