.categories__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.categories {
    display: flex;
    flex-direction: column;
}
.categories__list {
    overflow-x: hidden;
}